/* Fluid Theme v1.0, June 22nd 2009, Metalab Design http://www.metalabdesign.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;}table{border-collapse:collapse;border-spacing:0;}ol,ul{list-style:none;}q:before,q:after,blockquote:before,blockquote:after{content:"";}

* {
outline: none;
-moz-outline: none;
}

.clear{
    clear:both;
    height:1px;
    margin-bottom:-1px;
}

body{
    background: #000 url(../image/fluid/background-body-repeat.png) repeat-y top center ;
    color:#fff;
    font-size:11px;
    font-family:  "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif ;
    text-shadow: #000 0px 1px 0px;
}

#wrap{
    width: 905px;
    padding-left:28px;
    padding-right:28px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background: url(../image/fluid/background-top.jpg) no-repeat top center;
}


#title{
    height: 109px;
    background: url(../image/fluid/background-title.png) repeat-x center top;
    float:left;
    position:relative;
    margin-left:68px;
    margin-top:40px;
    text-shadow: #000 0px 2px 0px;    

}

#title h1{
    font-size:42px;
    font-weight:bold;
    text-shadow: #fff 0px 1px 0px;
    margin-top:15px;
    padding-left:5px;
    padding-right:5px;
    
}

#title a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    text-shadow: #fff 0px 1px 0px;
    padding:0;
    display:block;
}

#title b{
    height:93px;
    width:36px;
    position: absolute;
    top:0px;
}

#title b.left{
    background: url(../image/fluid/background-title.png) top left;
    left:-36px;
}

#title b.right{
    background: url(../image/fluid/background-title.png) top right;
    right:-36px;    
}


#container-top{
    width:873px;
    height:92px;
    background: url(../image/fluid/background-main-top-bottom.png) top left;
    float:right;
    margin-top:-25px;
}

#container-bottom{
    width:873px;
    height:78px;
    background: url(../image/fluid/background-main-top-bottom.png) no-repeat bottom left;
    display:block;
    float:right;
    margin-bottom:30px;
    position:relative;
}

#container-bottom #hidden_navinfo{display:none;}

#container-bottom #classic-pagination a{
    display:block;
    text-indent:-99999em;
    position:absolute;
}

#container-bottom #classic-pagination #next-page{
    background: url(../image/fluid/button-next.png) no-repeat top left;
    width:99px;
    height:50px;
    top:1px;
    left:460px;
}

#container-bottom #classic-pagination #prev-page{
    background: url(../image/fluid/button-prev.png) no-repeat top left;
    width:98px;
    height:50px;
    top:1px;
    left:18px;
}

#container{
    width:873px;
    background: url(../image/fluid/background-main-repeat.png) repeat-y top left;
    float:right;    
}

#content{
    margin-top:-50px;
    margin-left:30px;
}

#posts{
    float:left;
    width:525px;
}

#sidebar{
    float:right;
    margin-right:33px;
    margin-top:5px;
    width:268px;
    margin-bottom:40px;
}

#sidebar h2{
    font-size:18px;
    font-weight:bold;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;    
    width:268px;
    width:260px;
    height:33px;
    padding-left:8px;
    background: url(../image/fluid/background-sidebar-heading.png) no-repeat top left;
    line-height:34px;
}

#sidebar #user-portrait{
    width:64px;
    height:64px;
    padding:4px;
    padding-top:3px;
    padding-bottom:9px;
    background: url(../image/fluid/background-user-portrait.png) no-repeat top left;
    margin-top:11px;
    margin-right:9px;
    float:left;
}

a.profile-link {
    font-weight:bold;
    text-decoration:none;
}

#sidebar #about-text{
    margin-top:11px;
    margin-bottom:4px;
    line-height:16px;
    font-size:11px;
    display:block;
        color: #ddd;
}

#sidebar #about-text a{
    color:#fff;
}

#sidebar ul.links{
    margin-bottom:10px;
}

#sidebar ul.links li{
    background: url(../image/fluid/icon-link-star.png) no-repeat center left;
}

#sidebar ul.links li span{
    background: url(../image/fluid/hr.png) no-repeat bottom left;
    display:block;
}

#sidebar ul.links li.last span, #sidebar ul.links li:last-child span{
    background:none;
}

#sidebar ul.links li a{
    font-size:13px;
    font-weight:bold;
    color:#fff;
    width:240px;
    padding-left:26px;
    height:37px;
    line-height:35px;
    display:block;
    text-decoration:none;
    margin-left:1px;
}

#sidebar ul.links li a:hover{
    background: rgba(255,255,255,.05) url(../image/fluid/icon-link-arrow.png) no-repeat center right;
}


/*GENERAL POST STYLES*/

.post.text .type{    background-position: 0 0; }
.post.photo .type{    background-position: 0 -39px; }
.post.quote .type{    background-position: 0 -78px; }
.post.link .type{    background-position: 0 -117px;}
.post.chat .type{    background-position: 0 -156px; }
.post.audio .type{    background-position: 0 -195px; }
.post.video .type{    background-position: 0 -234px; }

.post .posttitle{
    background: url(../image/fluid/hr.png) no-repeat left top;
    display:block;
    margin-bottom:10px;
}

.post .posttitle a:hover{
    text-decoration:none !important;
}

.post .posttitle h3{
    background: url(../image/fluid/hr.png) no-repeat left bottom;
    padding-top:9px;
    padding-bottom:6px;
    padding-left:4px;
}


.description blockquote, .post.text blockquote{
    padding-left:1em;
    border-left:7px solid #414141;
    margin-top:.5em;
    margin-bottom:.5em;
    font-family:Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
    font-style:italic;
    font-size:13px;
    margin-left:0px;
    padding-top:.25em;
}


.description blockquote blockquote, .post.text blockquote blockquote{
    border-left:6px solid #414141;
}

.description ul, .description ol, .post.text ul, .post.text ol{
    padding-left:2em;
    padding-top:.5em;
    padding-bottom:.5em;
}
.description ol, .post.text ol{
    list-style-type: decimal
}

.description ul, .post.text ul{
    list-style-type: disc;
}

.post {
    position:relative;
    margin-bottom:15px;    
    min-height:80px;
}

.post .posttitle h3{
    font-family:"Helvetica Neue", helvetica, Arial, sans-serif;    
    font-size:18px;
    font-weight:bold;
}

.description h1, .description h2, .description h3, .description h4, .description h5,
.description h1 a, .description h2 a , .description h3 a, .description h4 a, .description h5 a{
    font-family:"Helvetica Neue", helvetica, Arial, sans-serif;    
    font-size:14px;
    font-weight:bold;
    color:#fff;
    font-style:normal
}

.description h1 a, .description h2 a , .description h3 a, .description h4 a, .description h5 a{
    text-decoration:underline;
}

.post .posttitle h3 a{
    font-family:"Helvetica Neue", helvetica, Arial, sans-serif;    
    font-size:18px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    
}

.post.text a, .post .description a{
    color:#08abe1;
    text-decoration:none;
}

.post.text a:hover, .post .description a:hover{
    text-decoration:underline;
}

.type{
    display:block;
    width:44px;
    height:39px;
    text-indent:-99999px;
    margin-bottom:4px;
    background: url(../image/fluid/post-icons.png) no-repeat top left;    
}

.vialink {
    font-size:12px;
    font-weight:bold;
    color:#fff !important;
    border:1px solid #11191a;
    background: url(../image/fluid/background-reblog-attribution.png);
    padding:5px;
    margin:5px 2px;
    margin-left:0;
    display:block;
    float:left;
    font-family:"Helvetica Neue", helvetica, Arial, sans-serif;    
    box-shadow: 0px 2px 5px #11191a;
    -webkit-box-shadow: 0px 2px 5px #11191a;
    -moz-box-shadow: 0px 2px 5px #11191a;
    text-decoration:none;
}

.vialink:hover{
    text-decoration:none !important;
}

.vialink span{
    background: url(../image/fluid/icon-reblogged.png) no-repeat scroll 5px 6px;
    padding:5px 5px 5px 20px;
    font-weight:bold;
    color: #fff;
}


/* POST: TEXT */

.post.text{
    padding-left:10px;
    width:500px;
}

.post.text p {
    margin: 15px 0px;
}
.posterous_quote_citation {
    margin: 15px 0px;
}
.profile_external_links {
    margin: 10px 0px;
}
.extra_bottom_space { margin-bottom: 10px; }

/* PERMALINK PAGES */

.tagtitle {
    display:inline-block;
    font-weight:bold;
}

.tags {
    padding:0 0 10px 10px;
}

    .tags a {
        color:#eee;
        display:inline-block;
        padding:0 2px;
        text-decoration:none;
    }
    
    .tags a:hover {
        color:#fff;
    }

.postunit {
    padding-bottom:20px;
    position:relative;
}

.post-meta{
    font-family:"Helvetica Neue", helvetica, Arial, sans-serif;    
    background:    url(../image/fluid/hr.png) repeat-x top left;
    width:494px;
    margin-left:15px;
    font-size:18px;
}

.post-meta .date{
    float:right;
}

.post-meta .permalink-postinfo{
    overflow:hidden;
    background:    url(../image/fluid/hr.png) repeat-x bottom left;
    padding-top:8px;
    padding-bottom:7px;
    margin-bottom:12px;

}

    .taglist {
    }
	
		.pages {
			padding:5px 0 15px;
		}
    
        .pages li,.links li,.taglist li, div.archives {
            color:#aaa;
            list-style:none;
            margin-bottom:5px;
        }
        
        .links li a,.taglist li a, div.archives a {
            color:#ccc;
            text-decoration:none;
        }
        
        .pages li a {
            color:#ccc;
  			font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;    
			font-size:14px;
			font-weight:bold;
            text-decoration:none;
        }
        
            .pages li a:hover,.links li a:hover,.taglist li a:hover, div.archives a:hover {
                text-decoration:underline;
            }
            
        .tag_item_selected {
            color:#fff !important;
        }
		
		.pages .current,.pages .current a {
            color:#fff !important;
			font-weight:bold;
		}
		
div.archive {margin-bottom:5px;}
div.archives div.inner {margin-left:10px;margin-bottom:7px;line-height:1.6em;}
        
.post-meta .permalink-postinfo .date{
    font-size:11px;
    padding-top:5px;
    padding-right:5px;
}

.post-meta .permalink-postinfo .date a {
    color:#fff;
    text-decoration:none;
}

/* For poorly rendered light-on-dark text on OSX with default text rendering settings */
.textfix{
    -webkit-text-stroke:1px transparent; /*fixes it for safari*/
    opacity: 0.9999; /*improves it a little bit for FF */
}

#bottom-links {
  text-align: center;
  margin-bottom: 3em;
}

#bottom-links a {
  color: #ddd;
}
