---
layout: default
slug: archives
title: 'Archives'
---

<div id="posts"><!-- posts-start -->

<div class="postunit">
  
  <div class="post text">
    <span class="posttitle">
      <h3>{{page.title}}</h3>
    </span>
  
  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
<ul class="links">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
</ul>
        <h3>{{ post.date | date: '%Y' }}</h3>
<ul class="links">
      {% endif %}
    {% endunless %}

    <li>
      {{ post.date | date:"%b %d" }}
      <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

</div>
  </div>

</div><!-- #posts -->

<div id="sidebar">
  {% include links.html %}
</div>
