---
layout: default
slug: tags
title: Tags
---

<div id="posts"><!-- posts-start -->

<div class="postunit">
  
  <div class="post text">
    <span class="posttitle">
      <h3>{{page.title}}</h3>
    </span>

{% assign first = true %}
{% for tag in site.tags %}
	{% unless first == true %}
	</ul>
	{% endunless %}
  <h3 id="{{ tag | first | downcase | slugify }}">{{ tag | first}}</h3>
    <ul class="links">
    {% for posts in tag %}
      {% for post in posts %}
        <li>
			<span>{{ post.date | date: '%b %e, %Y' }}</span> 
			<span>
				<a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
			</span>
		</li>
      {% endfor %}
    {% endfor %}{% assign first = false %}
{% endfor %}
</ul>

      </div>
</div>

</div>

<div id="sidebar">
  {% include links.html %}
</div>

