<ul class="links">
  <li>
    <a href="{{site.baseurl}}/">Home</a>
  </li>
  
  <li>
    <a href="{{site.baseurl}}/tags.html">Tags</a>
  </li>

  <li>
    <a href="{{site.baseurl}}/archives.html">Archives</a>
  </li>

</ul>
