{% if post.title %}
{% assign post_title = post.title %}
{% assign post_url = post.url %}
{% assign tags = post.tags %}
{% assign post_date = post.date %}
{% else %}
{% assign post_title = page.title %}
{% assign post_url = page.url %}
{% assign tags = page.tags %}
{% assign post_date = page.date %}
{% endif %}

<div class="postunit">
  
  <div class="post text">
    <span class="posttitle">
      <h3>
        <a href="{{site.baseurl}}{{post_url}}" class="textfix">
          {{post_title}}
        </a>
      </h3>
    </span>

    {% if post.content %}
      {{post.content}}
    {% else %}
      {{content}}
    {% endif %}
  </div>

  {% if tags %}
  <div class="tagtitle">Filed under:</div>
  <div class="tags">
    {% for tag in tags %}
    {% for t in tag %}
    <a href="{{site.baseurl}}/tags.html#{{ t | downcase | slugify }}">{{t}}</a>
    {% endfor %}
    {% endfor %}
  </div>
  {% endif %}
  
  {% if post_date %}
  <div class="post-meta">
    <div class="permalink-postinfo">
      <div class="date">
        Posted <a href="{{site.baseurl}}{{post_url}}">{{post_date | date: '%b %d, %Y' }}</a>
    	by <a href="{{site.author_url}}">{{site.author}}</a>
      </div>
    </div>
  </div>
  {% endif %}

</div>
