---
date: 2010-07-21 02:51:42-07:00
layout: post
slug: infographic-tallest-mountain-to-deepest-ocean-11
title: 'Infographic: Tallest Mountain to Deepest Ocean Trench'
wordpress_id: 23650130
tags:
- Deep Water Horizon
- depth
- infographic
- mountain
- ocean
- records
- sea
- trench
---

<div class="posterous_bookmarklet_entry">
  <div>
    <a href="http://www.livescience.com/27551-our-amazing-planet-top-to-bottom-mountaintop-to-ocean-trench-infographic.html">
      <img src="http://i.livescience.com/images/i/000/037/288/i02/oap-landsea-oceans-130228a-02.jpg?1362084414"
           alt="Explore the entire Earth's surface from highest peaks to mysterious depth, in this LiveScience infographic." width="575" border="1"/>
    </a>
  </div>
  <div class="posterous_quote_citation">
    Source: <a href="http://www.livescience.com">LiveScience</a>
  </div>
</div>
