---
date: 2010-05-21 18:35:37-07:00
layout: post
slug: richard-pyle-dives-the-reefs-twilight-zone
title: Richard Pyle dives the reef's Twilight Zone
wordpress_id: 19057234
tags:
- diving
- rebreather
- Richard Pyle
- scuba
- TED
---

<div class="posterous_bookmarklet_entry">
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/richard_pyle_dives_the_twilight_zone" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="http://www.ted.com/talks/richard_pyle_dives_the_twilight_zone.html">ted.com</a></div>    <p></p></div>
