---
date: 2010-05-21 17:38:00-07:00
layout: post
slug: robert-ballard-on-exploring-the-oceans-at-ted
title: Robert Ballard on exploring the oceans at TED 2008
wordpress_id: 19056237
tags:
- deep ocean
- Robert Ballard
- ROV
- submersible
- TED
---

<p>
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/robert_ballard_on_exploring_the_oceans" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="https://www.ted.com/talks/robert_ballard_on_exploring_the_oceans?language=en">ted.com</a></div>    <p></p>
</p>
