---
date: 2010-07-12 19:14:00-07:00
layout: post
slug: bill-stone-explores-the-worlds-deepest-caves-0
title: Bill Stone explores the world's deepest caves
wordpress_id: 22778259
tags:
- AUV
- Bill Stone
- caves
- Europa
- moon
- rebreather
- robots
- space
---

<div class="posterous_bookmarklet_entry">
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/bill_stone_explores_the_earth_and_space" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="http://www.ted.com/talks/bill_stone_explores_the_earth_and_space.html">ted.com</a></div>    <p></p></div>
