---
date: 2010-05-21 19:02:30-07:00
layout: post
slug: david-gallo-shows-underwater-astonishments
title: David Gallo shows underwater astonishments
wordpress_id: 19057786
tags:
- bio-luminescence
- cuttlefish
- David Gallo
- octopus
- TED
---

<div class="posterous_bookmarklet_entry">
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/david_gallo_shows_underwater_astonishments" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="http://www.ted.com/talks/david_gallo_shows_underwater_astonishments.html">ted.com</a></div>    <p></p></div>
