---
date: 2010-07-17 18:33:40-07:00
layout: post
slug: brian-skerry-reveals-oceans-glory-and-horror-5
title: Brian Skerry reveals ocean's glory -- and horror
wordpress_id: 23321842
tags:
- Brian Skerry
- fishing
- nets
- photos
- TED
- trawling
---

<div class="posterous_bookmarklet_entry">
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/brian_skerry_reveals_ocean_s_glory_and_horror" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="http://www.ted.com/talks/brian_skerry_reveals_ocean_s_glory_and_horror.html">ted.com</a></div>    <p></p></div>
