---
date: 2010-05-21 17:50:00-07:00
layout: post
slug: mike-degruy-hooked-by-an-octopus
title: 'Mike deGruy: Hooked by an octopus'
wordpress_id: 19056421
tags:
- hydro-thermal vent
- Mice deGruy
- octopus
- restoration
- TED
---

<p>
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/mike_degruy_hooked_by_octopus" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="https://www.ted.com/talks/mike_degruy_hooked_by_octopus?language=en">ted.com</a></div>    <p></p>
</p>
