---
date: 2010-05-21 18:06:00-07:00
layout: post
slug: amedee-coral-reef-new-caledonia
title: Amedee Coral Reef New Caledonia
wordpress_id: 19056731
tags:
- coral reef
- panorama
- photos
---

<p>Cool 360 degree <a href="http://www.360cities.net/image/amadee-coral-reef-new-caledonia#-189.11,5.57,70.0">panorama of a coral reef</a> with lots of fish.</p><p> </p>
