---
date: 2010-05-21 17:53:00-07:00
layout: post
slug: edith-widder-glowing-life-in-an-underwater-wo
title: 'Edith Widder: Glowing life in an underwater world'
wordpress_id: 19056444
tags:
- bio-luminescence
- deep ocean
- Edith Widder
- TED
---

<p>
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/edith_widder_glowing_life_in_an_underwater_world" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="https://www.ted.com/talks/edith_widder_glowing_life_in_an_underwater_world?language=en">ted.com</a></div>    <p></p>
</p>
