---
date: 2010-05-21 18:15:24-07:00
layout: post
slug: graham-hawkes-flies-through-the-ocean-at-ted
title: Graham Hawkes flies through the ocean at TED 2009
wordpress_id: 19056884
tags:
- Graham Hawkes
- submersible
- TED
---

<div class="posterous_bookmarklet_entry">
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/graham_hawkes_flies_through_the_ocean" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="http://www.ted.com/talks/graham_hawkes_flies_through_the_ocean.html">ted.com</a></div>    <p></p></div>
