---
date: 2010-05-21 18:02:00-07:00
layout: post
slug: chris-jordan-midway-message-from-the-gyre
title: 'Chris Jordan: Midway - Message from the Gyre  '
wordpress_id: 19056673
tags:
- Chris Jordan
- Pacific
- photos
- plastic
- pollution
---

<p><a href="http://www.chrisjordan.com/current_set2.php?id=11">Heartbreaking photos</a> of baby albatross chicks that have starved to death after being fed plastic rubbish by their unsuspecting parents.</p><p> </p>
