---
date: 2010-07-28 18:29:53-07:00
layout: post
slug: sharks-blue-fin-tuna-and-overfished-oceans-th
title: 'Sharks, blue-fin tuna, and overfished oceans : The New Yorker'
wordpress_id: 24428499
tags:
- environment
- fisheries
- fishing
- ocean
- peak fish
---

<div class="posterous_bookmarklet_entry">
  <div class="p_embed p_image_embed">
    <img height="324" src="{{site.baseurl}}/image/2010/07/12828085-media_httpwwwnewyorke_kniHo.jpg" width="233">
  </div>
  <div class="posterous_quote_citation">
    via <a href="http://www.newyorker.com/arts/critics/books/2010/08/02/100802crbo_books_kolbert?currentPage=all">newyorker.com</a>
  </div>
</div>
