---
date: 2010-05-21 19:07:17-07:00
layout: post
slug: jeremy-jackson-how-we-wrecked-the-ocean
title: 'Jeremy Jackson: How we wrecked the ocean'
wordpress_id: 19057874
tags:
- fisheries
- fishing
- Jeremy Jackson
- pollution
- TED
- trawling
---

<div class="posterous_bookmarklet_entry">
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/jeremy_jackson" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="http://www.ted.com/talks/jeremy_jackson.html">ted.com</a></div>    <p></p></div>
