---
date: 2010-05-21 19:03:30-07:00
layout: post
slug: giant-cuttlefish-abc-catalyst
title: Giant Cuttlefish - ABC Catalyst
wordpress_id: 19057806
tags:
- ABC
- Catalyst
- cuttlefish
---

<div class="posterous_bookmarklet_entry">      <embed name="player0" src="http://www.abc.net.au/tv/cinerama/swf/singleclip_player_08.swf?version=4_11_2008" allowfullscreen="true" type="application/x-shockwave-flash" allowscriptaccess="always" height="283" flashvars="imageURL=http://www.abc.net.au/catalyst/stories/img/Cuttlefish_Large.jpg&amp;videoURL=rtmp://cp44823.edgefcs.net/ondemand/flash/tv/streams/catalyst/cat_s10_ep27_cutfish.flv&amp;mrssURL=rtmp://cp44823.edgefcs.net/ondemand/flash/tv/streams/catalyst/cat_s10_ep27_cutfish.flv&amp;videoTitle=Giant Cuttlefish&amp;screenWidth=398&amp;screenHeight=223&amp;autoStart=false&amp;stageColor=#000000&amp;textColor=#1391c1&amp;videoNum=null&amp;secure=false" quality="true" style="" width="398" /><div class="posterous_quote_citation">via <a href="http://www.abc.net.au/catalyst/stories/2695601.htm">abc.net.au</a></div>    <p></p></div>
