---
date: 2010-05-23 01:08:46-07:00
layout: post
slug: catalyst-trawl-team-abc-tv-science
title: 'Catalyst: Trawl Team - ABC TV Science'
wordpress_id: 19107453
tags:
- ABC
- animals
- Catalyst
- deep ocean
- trawling
---

<div class="posterous_bookmarklet_entry">      <embed name="player0" src="https://www.abc.net.au/tv/cinerama/swf/singleclip_player_08.swf?version=4_11_2008" allowfullscreen="true" type="application/x-shockwave-flash" allowscriptaccess="always" height="283" flashvars="imageURL=https://www.abc.net.au/catalyst/stories/img/TrawlTeam_large.jpg&amp;videoURL=rtmp://cp44823.edgefcs.net/ondemand/flash/tv/streams/catalyst/cat_s11_ep14_TrawlTeam.flv&amp;mrssURL=rtmp://cp44823.edgefcs.net/ondemand/flash/tv/streams/catalyst/cat_s11_ep14_TrawlTeam.flv&amp;videoTitle=Trawl Team&amp;screenWidth=398&amp;screenHeight=223&amp;autoStart=false&amp;stageColor=#000000&amp;textColor=#1391c1&amp;videoNum=null&amp;secure=false" quality="true" style="" width="398" /><div class="posterous_quote_citation">via <a href="http://www.abc.net.au/catalyst/stories/2904762.htm">abc.net.au</a></div>    <p>Scientific trawling in Antarctic waters.</p></div>
