---
date: 2010-05-21 18:12:44-07:00
layout: post
slug: giant-japanese-spider-crab
title: Giant Japanese Spider Crab
wordpress_id: 19056817
tags:
- animals
- crab
- deep ocean
- giant
---

<div class="posterous_bookmarklet_entry">
  <div class="p_embed p_image_embed">
    <a href="{{site.baseurl}}/image/2010/05/9224425-media_httpwwwtreehugg_dDnAt.jpg">
      <img height="359" src="{{site.baseurl}}/image/2010/05/9224425-media_httpwwwtreehugg_dDnAt.jpg" width="500" />
    </a>
  </div>
  <div class="posterous_quote_citation">
    via <a href="http://www.treehugger.com/files/2010/02/crabzilla-5-ft-biggest-known-crab-uk.php">treehugger.com</a>
  </div>
  <p></p>
</div>
