---
date: 2010-05-21 18:27:11-07:00
layout: post
slug: chris-jordan-on-polluting-plastics-at-poptech
title: Chris Jordan on Polluting Plastics at PopTech
wordpress_id: 19057090
tags:
- Chris Jordan
- Pacific
- Pacific gyre
- plastic
- pollution
- PopTech
---

<div class="posterous_bookmarklet_entry">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pGl62LuQask" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="posterous_quote_citation">via <a href="http://www.poptech.org/popcasts/chris_jordan_polluting_plastics">poptech.org</a></div>    <p></p></div>
