---
date: 2010-05-21 18:16:00-07:00
layout: post
slug: underwater-flight-with-graham-hawkes
title: Underwater Flight with Graham Hawkes
wordpress_id: 19056923
tags:
- Graham Hawkes
- submersible
---

<p><object type="application/x-shockwave-flash" height="202" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="320"><param name="bgcolor" value="#000000" /><param name="wmode" value="window" /><param name="swliveconnect" value="false" /><param name="allowScriptAccess" value="never" /><param name="allowFullScreen" value="true" /><param name="movie" value="http://www.kqed.org/quest/flash/KQEDMediaPlayer.swf" /><param name="flashVars" value="link_url=http://www.kqed.org/quest/television/281&amp;id=281&amp;source=http://www.kqed.org/.stream/anon/quest/109b_hawkes_e.flv&amp;poster=&amp;" /><param name="quality" value="high" /> <embed src="http://www.kqed.org/quest/flash/KQEDMediaPlayer.swf" type="application/x-shockwave-flash" wmode="window" height="202" flashvars="link_url=http://www.kqed.org/quest/television/281&amp;id=281&amp;source=http://www.kqed.org/.stream/anon/quest/109b_hawkes_e.flv&amp;poster=&amp;" width="320"></embed></object><br /><a href="http://www.kqed.org/quest/">QUEST</a> on <a href="http://www.kqed.org/">KQED</a> Public Media.</p>
