---
date: 2011-06-17 19:36:00-07:00
layout: post
slug: the-worlds-best-underwater-photographs-of-201
title: 'The world''s best underwater photographs of 2010: Our World Underwater and
  Deep Indonesia - Telegraph'
wordpress_id: 57610333
tags:
- photos
---

<div class="posterous_bookmarklet_entry">
  <div class="p_embed p_image_embed">
    <a href="{{site.baseurl}}/image/2011/06/27886687-media_httpitelegraphc_jaeDy.jpg">
      <img height="375" src="{{site.baseurl}}/image/2011/06/27886687-media_httpitelegraphc_jaeDy.jpg" width="500">
    </a>
  </div>
  <div class="posterous_quote_citation">
    via <a href="http://www.telegraph.co.uk/earth/earthpicturegalleries/8117264/The-worlds-best-underwater-photographs-of-2010-Our-World-Underwater-and-Deep-Indonesia.html">telegraph.co.uk</a>
  </div>
</div>
