---
date: 2011-06-06 04:09:00-07:00
layout: post
slug: edith-widder-the-weird-wonderful-world-of-bio
title: 'Edith Widder: The weird, wonderful world of bioluminescence'
wordpress_id: 55896315
tags:
- bio-luminescence
- Edith Widder
- TED
- video
---

<p>
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/edith_widder_the_weird_and_wonderful_world_of_bioluminescence" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    <div class="posterous_quote_citation">via <a href="https://www.ted.com/talks/edith_widder_the_weird_and_wonderful_world_of_bioluminescence?language=en">ted.com</a></div>    <p></p>
</p>
