---
date: 2011-06-17 18:25:00-07:00
layout: post
slug: catalyst-marine-special
title: Catalyst Marine Special
wordpress_id: 57604299
tags:
- Catalyst
- hydro-thermal vent
- mining
- rebreather
- video
---

<p><a href="http://www.abc.net.au/catalyst/marine/">Videos and articles</a> including a nice story about rebreathers and a disturbing one about deep sea mining of hydrothermal vents. Unfortunately and unfathomably, it's a flash site, grrr...</p>
