---
date: 2012-03-21 00:48:00-07:00
layout: post
slug: james-camerons-rocket-plunge-to-the-planets-d
title: James Cameron’s Rocket Plunge to the Planet’s Deepest Recess
wordpress_id: 113650227
tags:
- deep ocean
- submersible
---

<div class="posterous_bookmarklet_entry">
  <div class="p_embed p_image_embed">
    <a href="{{site.baseurl}}/image/2012/03/39250015-media_httpgraphics8ny_htuld.jpg">
      <img height="300" src="{{site.baseurl}}/image/2012/03/39250015-media_httpgraphics8ny_htuld.jpg" width="500">
    </a>
  </div>
  <div class="posterous_quote_citation">
    via <a href="http://www.nytimes.com/2012/03/20/science/earth/james-camerons-rocket-plunge-to-the-planets-deepest-recess.html?_r=1">nytimes.com</a>
  </div>
  <p>Very cool. More info at <a href="http://deepseachallenge.com/">deepseachallenge.com</a></p>
</div>
