<!DOCTYPE html>
<html>
  <head>
    <meta name="width" content="500" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>{{page.title}} - {{site.title}}</title>
    <link href="{{site.baseurl}}/css/fluid.css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" href="{{site.baseurl}}/feed.xml" title="Atom feed">
  </head>           
  <body>
    <div id="wrap">
      <div id="title"><h1><a href="{{site.baseurl}}" class="textfix">{{site.title}}</a></h1><b class="left"></b><b class="right"></b></div>
      <div id="container-top"></div>
      <div id="container">
        <div id="content">

            {{ content }}
            
        </div><!-- #content -->
      </div><!-- #container -->
      <div id="container-bottom">
        {% if paginator %}
        <!-- Pagination links -->
        <div id="classic-pagination">
          {% if paginator.previous_page %}
          <a id="prev-page" href="{{site.baseurl}}/{% if paginator.previous_page != 1 %}page{{paginator.previous_page}}{% endif %}" class="previous">Previous</a>
          {% endif %}
          <div style="padding-left: 250px; padding-top: 20px;">Page: {{paginator.page}} of {{paginator.total_pages}}</div>
          {% if paginator.next_page %}
          <a id="next-page" href="{{site.baseurl}}/page{{paginator.next_page}}" class="next ">Next</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div><!-- wrap -->
    <div id="bottom-links">
      <a href="http://tompaton.com/" title="Tom Paton">tompaton.com</a>
      &middot;
      <a href="https://bitbucket.org/tompaton/unfathomablesea" title="Blog source repository">Source</a>
      &middot;
      <a href="{{site.baseurl}}/feed.xml" title="Atom feed">RSS</a>
    </div>
  </body>
</html>

            
