---
layout: default
---

<div id="posts"><!-- posts-start -->

  {% include post.html %}
    
</div><!-- #posts -->

<div id="sidebar">
  {% include links.html %}

  <div class="archives">
  {% if page.next %}
  <p style="margin-bottom: 1em;">
    Next post:
    <a href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}}</a>
  </p>
  {% endif %}
  
  {% if page.previous %}
  <p style="margin-bottom: 1em;">
    Previous post:
    <a href="{{site.baseurl}}{{page.previous.url}}">{{page.previous.title}}</a>
  </p>
  {% endif %}
  </div>
</div>

